
/* :root {
    --mat-form-field-container-vertical-padding: 13px;
} */
.text-center{
    text-align: center;
}

.w100{
    width: 100% !important;
}

mat-form-field{
    width: 100% !important;
}

.headerText{
    font-size: 32px;
    font-weight: bold;
}

.titleBar{
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p-60{
    padding-top: 60px !important;
}

.fLabel{
    font-size: 16px;
    font-family: Montserrat;
}

.fileLegends{
    display: flex;
    flex-direction: column;
    color: #38424B;
    font-size: 14px;
    letter-spacing: 0.02px;
    font-family: MontSerrat;
}

.uploadArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F7F5;
    border: 1px dotted #8FB3A3;
}

.buttonRow{
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
}

.btn-light{
    padding: 16px 36px 16px 36px;
    height: 56px;
}

/* .mat-mdc-text-field-wrapper{
    height: 50px !important;
}

:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline {
    height: 50px !important
} */
